[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "external/cpp-dotenv"]
	path = external/cpp-dotenv
	url = https://github.com/adeharo9/cpp-dotenv
